body {
    background: #F4EFE6;
}

p {
    color:#6A4A43;
    font-family: "Old Standard TT", serif;
}

h1,h2, h3 {
    color: #3E2723;
    font-family: "Bungee", sans-serif;

}

/* Header Styling */
.header {
    background-color: #3E2723;
    display: flex;
    justify-content: center;
    z-index: 1000;
    padding: 10px 20px;
    position: relative;
}

/* ======== Logo ======== */
.logo {
    text-decoration: none;
    max-width: 12.5rem;
    height: auto;
}

/* Hamburger Menu */
.menu-button {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 2rem;
    background: none;
    border: none;
    color: #F4C9D6; /* Peony */
    cursor: pointer;
    z-index: 1100;
    transition: transform 0.3s ease;
}

.menu-button.open {
    transform: rotate(90deg);
}

/* DROPDOWN NAV */
.main-nav {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #F4EFE6; /* Vanilla Bean */
    border: 1px solid #D8C7A1; /* Gold Thread */
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow: 0 4px 12px rgba(62, 39, 35, 0.3);
    display: none;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin: 12px 0;
}

.main-nav a {
    text-decoration: none;
    color: #3E2723; /* Espresso */
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: #F4C9D6; /* Peony */
}

/* Footer Styling */
.footer p {
    color: #FAF7F3;
    text-align: center;
}
footer {
    background-color: #3E2723;
    width: 100vw;
    border: 1px solid #D8C7A1;
    bottom: 60px;
}